In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [2]:
df3 = pd.read_csv(r"C:\Users\ASUS\Desktop\churn_prediction_data\test.csv")
df = pd.read_csv(r"C:\Users\ASUS\Desktop\churn_prediction_data\train.csv")
df5=pd.read_csv(r"C:\Users\ASUS\Desktop\churn_prediction_data\upload.csv")
df=pd.DataFrame(df.drop(['RowNumber','CustomerId','Surname'],axis=1))
df=pd.get_dummies(df)
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,720,38,5,114051.97,2,0,1,107577.29,0,0,0,1,0,1
1,682,54,4,62397.41,1,1,0,113088.60,1,1,0,0,1,0
2,672,31,5,119903.67,1,1,1,132925.17,0,1,0,0,1,0
3,592,40,4,104257.86,1,1,0,110857.33,0,0,0,1,1,0
4,753,42,5,120387.73,1,0,1,126378.57,0,0,0,1,0,1

In [3]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler() 
df2 = pd.DataFrame(scale.fit_transform(df),columns=df.keys())
#print(df3)
df4=pd.DataFrame(df3.drop(['RowNumber','CustomerId','Surname'],axis=1))
df4=pd.get_dummies(df4)
df6 = pd.DataFrame(scale.fit_transform(df4),columns=df4.keys())

x=pd.DataFrame(df2.drop(['Exited'],axis=1))
y=df['Exited']
x_test=df6
#print(x,x_test)

In [5]:
clf=SVC(kernel='rbf',C=0.5)
clf.fit(x,y)
pred=clf.predict(x_test)
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [6]:

df5['Exited']=pred
df5.to_csv('lsvc2.csv', encoding='utf-8')