In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from xgboost import XGBClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [2]:
df3 = pd.read_csv(r"C:\Users\ASUS\Desktop\churn_prediction_data\test.csv")
df = pd.read_csv(r"C:\Users\ASUS\Desktop\churn_prediction_data\train.csv")
df5=pd.read_csv(r"C:\Users\ASUS\Desktop\churn_prediction_data\upload.csv")
df=pd.DataFrame(df.drop(['RowNumber','CustomerId','Surname'],axis=1))
df=pd.get_dummies(df)
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,720,38,5,114051.97,2,0,1,107577.29,0,0,0,1,0,1
1,682,54,4,62397.41,1,1,0,113088.60,1,1,0,0,1,0
2,672,31,5,119903.67,1,1,1,132925.17,0,1,0,0,1,0
3,592,40,4,104257.86,1,1,0,110857.33,0,0,0,1,1,0
4,753,42,5,120387.73,1,0,1,126378.57,0,0,0,1,0,1

In [3]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler() 
df2 = pd.DataFrame(scale.fit_transform(df),columns=df.keys())
#print(df3)
df4=pd.DataFrame(df3.drop(['RowNumber','CustomerId','Surname'],axis=1))
df4=pd.get_dummies(df4)
df6 = pd.DataFrame(scale.fit_transform(df4),columns=df4.keys())

x=pd.DataFrame(df2.drop(['Exited'],axis=1))
y=df['Exited']
x_test=df6
#print(x,x_test)

In [4]:
xgboostModel = XGBClassifier(max_depth=7,min_child_weight =2,gamma=0.12,n_estimators=1900, learning_rate= 0.008)
xgboostModel.fit(x, y)
pred = xgboostModel.predict(x_test)
pred

C:\Users\ASUS\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:20:17] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [5]:
df5['Exited']=pred
df5.to_csv('xgboost9.csv', encoding='utf-8')